body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 300px;
    margin-right: 120px;
    color: #333;
    font-family: Times, Times New Roman, serif;
}

/* Estilos para o container do formulário */
.form-container {
    margin-top: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;  /* Define uma largura fixa para o formulário */
    text-align: left;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos para os inputs e textarea */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para o botão de envio */
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}